@import "./react-vis.css";

body {
    font-family: "Sintony", sans-serif;
    font-size: 0.8em;
    margin: 50px;
}

.c-title {
    font-size: 2.0em;
    text-align: center;
    margin-bottom: 50px;
}

.c-right-menu {
    float: right;
}

.c-spark {
    border: 1px solid lightslategray;
    max-width: 350px;
}

.c-list {
    margin: 10px auto;
}

.c-type-button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid lightslategray;
}

.c-type-button.c-selected {
    background: lightslategray;
    color: white;
    cursor: default;
}

.c-route {
    margin: 5px auto;
    padding: 5px;
    border: 1px solid lightslategray;
    cursor: pointer;
}

.c-route.c-selected {
    background: lightslategray;
    color: white;
    cursor: default;
}