@import "../node_modules/react-vis/main.css";

.c-body {

    /*text-align: center;*/
}

.c-spark {
    float: right;
    border: 1px solid lightslategray;
    max-width: 400px;
}

.c-type-button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid lightslategray;
}

.c-type-button.c-selected {
    background: lightslategray;
    color: white;
    cursor: default;
}